/*-- scss:defaults --*/

//
// Colour System
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #888 !default;
$gray-700: #5a5a5a !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ff7851 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffce67 !default;
$green:   #56cc9d !default;
$teal:    #20c997 !default;
$cyan:    #6cc3d5 !default;

$primary:       #70B778 !default;
$secondary:     #eb4b46 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         #FEFDFB !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   1.45 !default;

//
// SASS sass-variables
// See: https://quarto.org/docs/output-formats/html-themes.html#sass-variables
//

// Colours
$body-bg: $light; // The page background color.
$body-color: $black; // The page text color.
$link-color: $primary; // The link color.

// Fonts
/*--
$font-family-sans-serif: ; // The sans-serif font family for the page.
$font-size-root: ; //	The base font size for the page.
$toc-font-size: ; //	The font size for the page TOC.
$h1-font-size: ; // Font size for the H1 headings.
$h2-font-size: ; // Font size for the H2 headings.
$h3-font-size: ; // Font size for the H3 headings.
$h4-font-size: ; // Font size for the H4 headings.
$h5-font-size: ; // Font size for the H5 headings.
--*/

// Navigation
$navbar-bg: $secondary; // The background color of the navbar.
$navbar-fg: $white; // The color of foreground elements (text and navigation) on the navbar.
$navbar-hl: $black; // The highlight color for links in the navbar.
$footer-bg: $light; // The background color of the footer.
$footer-fg: $gray-600; //	The color of foreground elements (text and navigation) on the footer.

/*-- scss:rules --*/

// Navbar
.navbar {
  border-top-width: 1.0em;
  border-top-color: $secondary;
}

// Buttons
.btn {
  color: $primary;
  border-color: $primary;
}

.btn:hover {
  color: $body-bg;
  background-color: $primary;
}

// Members
.mt-6 {
  margin-top: ($spacer * 2.5) !important;
}
